<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true">
    <Appenders>
        <Console name="POORENCODER" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level - %enc{%m%ex}{HTML}%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="POORENCODER"/>
        </Root>
    </Loggers>
</Configuration>


